<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RenderReport</servlet-name>
        <servlet-class>ReportServer.RenderReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderReportMetadata</servlet-name>
        <servlet-class>ReportServer.RenderReportMetadata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RenderReport</servlet-name>
        <url-pattern>/RenderReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderReportMetadata</servlet-name>
        <url-pattern>/RenderReportMetadata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
